.tabs-right > .nav-tabs {border-bottom: 0;}

.tab-content > .tab-pane, .pill-content > .pill-pane {display: none;}
.tab-content > .active, .pill-content > .active {display: block;}

.tabs-right > .nav-tabs > li {float: none;border: 0;background: rgba(168,200,213,0.5);border-radius: 0;width: 100px;text-align: right;}
.tabs-right > .nav-tabs > li > a { min-width: 74px; margin-right: 0; margin-bottom: 3px;color: #000;border-radius: 0;}
.tabs-right > .nav-tabs {float: right;margin-top: 27px;}
.tabs-right > .nav-tabs > li > a {margin-left: -1px;border: 0}

.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {border: 0;background: #107ca4;border-radius: 0;}

.tabs-right > .nav-tabs .active {background: #107ca4;border-radius: 0;}
.tabs-right > .nav-tabs .active > a {color: #fff;}

.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {background: #107ca4;}

.alerta {padding-left: 15px;}
.botao {margin: 20px 0 0 0;float: right;}
.botao2 {float: right;clear: right;margin: 10px 0 0 0;}
.botao a,.botao2 a {color: #fff!important;}
.dados {width: 89.5%; padding-left: 15px;}
.tabela {width: 100%;}

/*============================== MEDIA QUERIES ===================================*/
@media screen and (max-width: 1217px) {
	.botao {margin: 20px 4px 0 0;}
}

@media screen and (max-width: 810px) {
	.botao {margin: 20px 4px 0 0;}
	.dados {width: 100%;}
}

@media screen and (max-width: 769px) {
	.nav > li {background-color: transparent;}
}