.mensagem {padding-left: 18px;}
.candidatura {padding-left: 30px;}
.apresentacao {margin-top: -13px;}
.obrigatorio {display: inline-block; padding-left: 30px;}
.botoes {float: right;margin: 15px 30px;}