.alert {display: none;}
.dados {padding: 11px 0 0 0!important;}
.obrigatorio {display: inline-block; padding-left: 15px;}
#row .col-md-12 {width: 97.5%;}
.botoes {float: right;margin-top: 20px;}
.botoes input {margin-left: 10px!important;}
.contactus .row form div.col-md-6 {padding-top: 10px;}
legend {border-bottom: 0;}
#labelConcelho, #labelDistrito, #concelho, #distrito {display: none;}

/*============================== MEDIA QUERIES ===================================*/
@media screen and (max-width: 1217px) {
	#row .col-md-12 {width: 100%;}
}

@media screen and (max-width: 992px) {
	.contactus .row form div.col-md-6 {width: 65%;}
	.dados {padding: 0!important;}
}

@media screen and (max-width: 767px) {
	.contactus > .row > form label {padding: 0 15px 0 15px;}
}

@media screen and (max-width: 518px) {
	.contactus .row form div.col-md-6 {width: 80%;}
	.botoes input {width: 120px;}
}

@media screen and (max-width: 450px) {
	.contactus .row form div.col-md-6 {width: 100%;}
}