.titulo {padding-left: 15px;}
.sem-produto {margin: 2px 0 2px 10px;}
.carossel {max-height: 400px;}
.thumb {padding: 20px 0px 10px 15px !important;}
.thumb-img {width: 80px; height: 80px;}
.share {padding-left: 30px;}
.resultados {margin-bottom: 50px;}
.info {margin-left: 15px;}
.cortes {width: 100%;}
.cortes ul li:first-child {margin: 0;float: left;display: block;}
.cortes ul li {margin: 0 0 0 15px; float: left;display: block;}
.corte {width: 180px;margin:2px 0 2px 0;}
.downloads {width: 100%;}
.downloads-titulo:first-child {margin: 0;float: left;display: block;}
.downloads-titulo {margin: 0 0 0 40px;float: left;display: block;}
.downloads ul li ul li {list-style-type: none;}
.downloads ul li ul li span {padding-right: 5px;}
.obras {padding-left: 32px!important;}
.obras-titulo {margin-bottom: 30px}
.obras-indicadores {margin-bottom: -58px}
.obras-img {width:150px; height: 150px;}

/*============================== MEDIA QUERIES ===================================*/
@media screen and (max-width: 1250px) {
	.info {width: 98.2%;}
}

@media screen and (max-width: 1055px) {
	.downloads-titulo {margin: 0 0 0 30px;}
}

@media screen and (max-width: 1015px) {
	.downloads-titulo {margin: 0 0 0 20px;}
}

@media screen and (max-width:  1010px) {
	.col-md-5 {width: 60%;}
	.row > .col-md-3 {width: 100%;}
	.resultados {float: right;width: calc(100% - 41%);}
}

@media screen and (max-width: 992px) {
	/*função tabs.js NÃO APAGAR!!!*/
	.carousel-inner {width: calc(100% - 5%);}
}

@media screen and (max-width:  975px) {
	.downloads-titulo {margin: 0 0 0 10px;}
}

@media screen and (max-width:  935px) {
	.downloads-titulo:nth-child(1n+0) {margin: 0 0 0 40px;}
	.downloads-titulo:nth-child(1), .downloads-titulo:nth-child(5) {margin: 0 0 0 0;}
}

@media screen and (max-width:  850px) {
	.related {height: 650px;}
	.related .carousel-inner {width: 100%;}
	.related .carousel-inner .active {width: 500px;display: block!important;}
	.related .carousel-inner .item .row .col-sm-2 {width: 30%;margin-bottom: 75px;}
	.related .carousel.slide .controls {margin-top: 250px;}
}

@media screen and (max-width:  808px) {
	.info {width: 97.2%;}
	.downloads-titulo:nth-child(1n+0) {margin: 0 0 0 40px;}
	.cortes ul {display: table-caption;}
}

@media screen and (max-width:  767px) {
	.row .col-sm-2 {vertical-align: bottom;}
}

@media screen and (max-width:  625px) {
	.downloads-titulo:nth-child(2) {margin: 0 0 0 155px;}
	.downloads-titulo:nth-child(4) {margin: 0 0 0 60px;}
}

@media screen and (max-width:  580px) {
	.descricao, .resultados {padding-left: 15px;}
	.resultados {float: none;width: none;}
	.col-md-5, .col-md-4, .col-md-3 {width: auto!important;}
	.downloads-titulo:nth-child(odd) {margin: 0 0 0 0;}
}

@media screen and (max-width:  540px) {
	.content-2 ul {display: table-caption;}
	.content-2 ul li ul {display: -webkit-box;}
	.downloads-titulo:nth-child(1n+0) {margin: 0;}
}

@media screen and (max-width:  520px) {
	.info {width: 96.2%;}
}

@media screen and (max-width:  490px) {
	.content-2 ul li ul {display: block;}
	.content-2 ul li ul li {padding-bottom: 5px;}
}

@media screen and (max-width:  385px) {
	.info {width: 95.2%;}
}

@media screen and (max-width:  340px) {
	.info {width: 93.2%;}
}