header, .form #search {background-color: #3b6a7c;}

nav, .navbar {background-color: #01adef;}
nav, .navbar-nav > li:hover, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {background-color: #054568;}
.dropdown-menu>.grid-demo {background-color:rgba(5,69,104, 0.94);}
.curr {background-color: #2576a3;}

.menu-h3, .li-b {color: #04adf2;}

.panel-default > .panel-heading {background-color: #054568;}


/* ============================== PRODUTOS VIDRO =================================== */
.produtos_vidro_list {
    width: 100%;
    margin: 0 0 20px 0;
    padding: 0 0 20px;
    display: block;
    position: relative;
    min-height: 550px;
}
.vidro-list {
    max-width: 300px;
    width: 30%;
    min-width: 200px;
    min-height: 180px;
    margin: 20px;
    vertical-align: top;
}

.vidro-list img {
    width: 100%;
    height: 200px;
    border-radius: 15px;
}

.vidro-list a {
    margin: 20px 0 0;
    display: inline-block;
    width: 49%;
    list-style: circle;
    list-style-position: inside;
}

/* ============================== MEDIA QUERYS =================================== */
@media screen and (max-width: 768px) {
    nav li {background-color: #01adef!important;}
}