header, .form #search {background-color: #454545;}

nav, .navbar {background-color: #797979;}
nav .navbar-nav li:hover, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus, .dropdown-menu {background-color: #909090;}
.curr {background-color: #aa9d9d;}
/*.font {font-size: 305.5%;}*/

.menu-h3 {color: #454545;}
.li-b {color: #000;}
.grid-demo .row .row [class*="col-"] {border-left: 1px solid #797979;}

.button, .button_slider {background-color: #909090;box-shadow: 0 3px 0 #585858;}
.form #search, .input {border-color: #909090;}
.form #searchButton, .form #search::-webkit-input-placeholder {color: #909090;}

.title1, .title2, .title3, .title4 {color: #797979}
.carousel-indicators li {background-color: #454545;}

.panel-default > .panel-heading {background-color: #909090;}

@media screen and (max-width: 768px) {
    nav li {background-color: #797979!important;}
}