@font-face {
	font-family: 'sosoares';
	src:url('fonts/sosoares.eot?nzru5m');
	src:url('fonts/sosoares.eot?#iefixnzru5m') format('embedded-opentype'),
		url('fonts/sosoares.woff?nzru5m') format('woff'),
		url('fonts/sosoares.ttf?nzru5m') format('truetype'),
		url('fonts/sosoares.svg?nzru5m#sosoares') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'sosoares';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-front:before {
	content: "\e61a";
}
.icon-vidro:before {
	content: "\e600";
}
.icon-tratamento:before {
	content: "\e601";
}
.icon-telefone:before {
	content: "\e602";
}
.icon-tecnica:before {
	content: "\e603";
}
.icon-sosoares:before {
	content: "\e604";
}
.icon-servicos_vidro:before {
	content: "\e605";
}
.icon-servicos_extrusao:before {
	content: "\e606";
}
.icon-search:before {
	content: "\e607";
}
.icon-produtos_vidro:before {
	content: "\e608";
}
.icon-produtos_extrusao:before {
	content: "\e609";
}
.icon-produtos_caixilharia:before {
	content: "\e60a";
}
.icon-obras:before {
	content: "\e60b";
}
.icon-menu:before {
	content: "\e60c";
}
.icon-marcacao:before {
	content: "\e60d";
}
.icon-local:before {
	content: "\e60e";
}
.icon-lacagem:before {
	content: "\e60f";
}
.icon-imitacao:before {
	content: "\e610";
}
.icon-idioma:before {
	content: "\e611";
}
.icon-extrusao:before {
	content: "\e612";
}
.icon-call_black:before {
	content: "\e613";
}
.icon-call:before {
	content: "\e614";
}
.icon-caixilharia:before {
	content: "\e615";
}
.icon-back:before {
	content: "\e616";
}
.icon-apoio:before {
	content: "\e617";
}
.icon-anodizacao:before {
	content: "\e618";
}
.icon-ajuda:before {
	content: "\e619";
}
