@font-face {
    font-family: Lighte;
    src: url('fonts/SourceSansPro-Light.eot?');
    src: url('fonts/SourceSansPro-Light.eot?#iefix') format('embedded-opentype'),
    url('fonts/SourceSansPro-Light.otf.woff?') format('woff'),
    url('fonts/SourceSansPro-Light.ttf.woff?') format('truetype'),
    url('fonts/SourceSansPro-Light.svg?') format('svg');
}

@font-face {
    font-family: Bolde;
    src: url('fonts/SourceSansPro-Bold.eot?');
    src: url('fonts/SourceSansPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/SourceSansPro-Bold.otf.woff?') format('woff'),
    url('fonts/SourceSansPro-Bold.ttf.woff?') format('truetype'),
    url('fonts/SourceSansPro-Bold.svg?') format('svg');
}

@font-face {
    font-family: Blacke;
    src: url('fonts/SourceSansPro-Black.eot?');
    src: url('fonts/SourceSansPro-Black.eot?#iefix') format('embedded-opentype'),
    url('fonts/SourceSansPro-Black.otf.woff?') format('woff'),
    url('fonts/SourceSansPro-Black.ttf.woff?') format('truetype'),
    url('fonts/SourceSansPro-Black.svg?') format('svg');
}

@font-face {
    font-family: Regulare;
    src: url('fonts/SourceSansPro-Regular.eot?');
    src: url('fonts/SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/SourceSansPro-Regular.otf.woff?') format('woff'),
    url('fonts/SourceSansPro-Regular.ttf.woff?') format('truetype'),
    url('fonts/SourceSansPro-Regular.svg?') format('svg');
}

body {
    background: url("img/Castoral.jpg") #e8e8e8 no-repeat fixed center;
    background-size: cover;
    font-family: Lighte, sans-serif;
    font-size: 14px;
    color: #494949;
}

header {
    width: 100%;
    height: 100px;
    padding: 15px;
}
.before {
    width: 100%;
    height: 90px;
}

footer {
    background-color: #f0f0f0;
    width: 100%;
    height: 90px;
}

#bottom {
    position: fixed;
    bottom: 0;
}

footer .content {
    padding-top: 25px;
}

p {
    line-height: 1.8;
}

.button {
    background-color: #107ca4 !important;
    box-shadow: 0 3px 0 #05698e !important;
    color: #fff !important;
    border: 0;
    font-size: 14px !important;
    width: 107px !important;
}

footer b {
    font-family: Bolde, sans-serif;
}

#bd {
    float: right;
    display: inline-block;
    margin: 5px;
}

.box {
    width: 165px;
    height: 160px;
    display: inline-block;
    border-radius: 5px;
    margin: 15px;
    text-align: center;
    padding: 30px 15px;
}


#caixilharia {
    background-color: #107ca4;
    box-shadow: 0 8px 0 #05698e;
}

#caixilharia:hover {
    background-color: #05698e;
    box-shadow: 0 8px 0 #05698e;
    transition: 0.7s;
    -webkit-transition: 0.7s;
}

#vidro {
    background-color: #01adee;
    box-shadow: 0 8px 0 #0088bc;
}

#vidro:hover {
    background-color: #0088bc;
    box-shadow: 0 8px 0 #0088bc;
    transition: 0.7s;
    -webkit-transition: 0.7s;
}

#extrusao {
    background-color: #797979;
    box-shadow: 0 8px 0 #5a5a5a;
}

#extrusao:hover {
    background-color: #5a5a5a;
    box-shadow: 0 8px 0 #5a5a5a;
    transition: 0.7s;
    -webkit-transition: 0.7s;
}

#abrasivos {
    background-color: #585858;
    box-shadow: 0 8px 0 #3f3f3f;
}

#abrasivos:hover {
    background-color: #3f3f3f;
    box-shadow: 0 8px 0 #3f3f3f;
    transition: 0.7s;
    -webkit-transition: 0.7s;
}

.center {
    width: 70%;
    margin: 0 auto 100px;
    padding: 15px 0;
}

h3 {
    color: #fff;
    font-size: 17px;
    font-family: Regulare;
    margin: 10px auto;
    width: 100%;
}
h4 {
    display: inline-block;
    color: #494949;
    font-size: 13px;
    font-family: Blacke;
}
#separador {
    display: none;
}


@media (max-width: 995px) {
    #bd {
        position: absolute;
        top: -40px;
        right: -60px;
    }

    .center {
        width: 100%;
        padding: 15px 0;
    }
}

@media (max-width: 768px) {
    .content, .input, #contacts {
        width: 100% !important;
    }
    nav > .content {
        display: none;
    }
    nav .tablet {
        display: inline-block;
    }
    footer {
        height: 200px;
        text-align: center;
        line-height: 2.5;
    }
    /*#bottom {
        position: relative;
        bottom: 0px;
    }*/
    .before {
        height: 250px;
    }
    #bd {
        position: absolute;
        top: -40px;
        right: 10px;
    }
    .center {
        margin: -250px auto 50px;
    }
    h3 {
        font-size: 14px;
    }
    #separador {
        display: block;
        background-color: transparent;
        border: 0;
    }
}

@media (max-width: 450px){
    .box {
        width: 140px;
        height: 145px;
    }
    h3 {
        font-size: 12px;
    }

    .box img {
        width: 50px;
        height: 50px;
    }
}

@media (max-width: 420px) {

    #bd {
        position: static;
        float: none;
        margin-top: 15px;
    }
}

@media (max-width: 390px){
    .box {
        width: 120px;
        height: 125px;
    }
    h3 {
        font-size: 12px;
    }

    .box img {
        width: 45px;
        height: 45px;
    }
}
