
#change-order-alert-box{
	background-color: #FFFFFF;
    border: 1px solid #9A9A9A;
    border-radius: 5px 5px 5px 5px;
    -webkit-box-shadow: 1px 1px 22px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    1px 1px 22px rgba(50, 50, 50, 0.75);
	-o-box-shadow:         1px 1px 22px rgba(50, 50, 50, 0.75);
	-ms-box-shadow:         1px 1px 22px rgba(50, 50, 50, 0.75);
	box-shadow:         1px 1px 22px rgba(50, 50, 50, 0.75);
    display: none;
    height: 50px;
    margin: 0 auto;
    position: fixed;
    width: 250px;
    z-index: 999;
}

#change-order-alert-box p {
	font-size: 16px;
    margin: 16px 95px;
    width: 50px;
}
